<% if page == @page %>
  <div class="text-muted">
    <p class="mb-2"><%= page.title %></p>
  </div>
<% else %>
  <div>
    <p class="mb-2"><%= link_to page.title, public_page_path(page.slug) %></p>
  </div>
<% end %>
