<h3 class="h3">
  <%= @page.title %>
</h3>

<div class="page-content">
  <%= @page.html.html_safe %>
</div>

<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>

<% if @project.google_analytics_tracker_id.present? %>
  <% content_for :analytics do %>
    <%= render 'shared/google_analytics_tracker',
      tracker_id: @project.google_analytics_tracker_id %>
  <% end %>
<% end %>
