<% content_for(:title) { @page.title } %>

<div class="page-content">
  <%= @page.html.html_safe %>
</div>

<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>

<% content_for :head do %>
  <%= render 'seo_tags' %>
  <%= render 'trackers' %>
<% end %>
