<h3><%= t('.collaborators') %></h3>
<table class="table">
  <% collaborations.each do |collaboration| %>
    <tr>
      <td><%= collaboration.email %></td>
      <td title="<%= t('.remove_collaborator_hint') %>">
        <%= link_to fa_icon('times'), private_project_collaborator_path(collaboration.project, collaboration), method: :delete, data: {confirm: t('views.are_you_sure')}, class: "text-muted" %>
      </td>
    </tr>
  <% end %>
</table>
