<p>Поиграть с разметкой Markdown можно на <a href="http://www.markdown-here.com/livedemo.html">демо-странице</a>.</p>
<h2>Заголовки</h2>

<pre lang="no-highlight"><code># H1
## H2
### H3
#### H4
##### H5
###### H6

Кроме того, H1 и H2 можно обозначить подчеркиванием:

Alt-H1
======

Alt-H2
------
</code></pre>

<h1>H1</h1>
<h2>H2</h2>
<h3>H3</h3>
<h4>H4</h4>
<h5>H5</h5>
<h6>H6</h6>
<p>Кроме того, заголовки H1 и H2 можно обозначить подчеркиванием:</p>
<h1>Alt-H1</h1>
<h2>Alt-H2</h2>

<h2>Выделение</h2>

<pre lang="no-highlight"><code>Курсив обозначается *звездочками* или _подчеркиванием_.

Полужирный шрифт - двойными **звездочками** или __подчеркиванием__.

Комбинированное выделение **звездочками и _подчеркиванием_**.

Для зачеркнутого текста используются две тильды . ~~Уберите это.~~
</code></pre>

<p>Курсив обозначается <em>звездочками</em> или <em>подчеркиванием</em>.</p>
<p>Полужирный шрифт - двойными <strong>звездочками</strong> или <strong>подчеркиванием</strong>.</p>
<p>Комбинированное выделение <strong>звездочками и <em>подчеркиванием</em></strong>.</p>
<p>Для зачеркнутого текста используются две тильды . <del>Уберите это.</del></p>

<h2>Списки</h2>

<p>(В данном примере предшествующие и завершающие пробелы обозначены точками: ⋅)</p>

<pre lang="no-highlight"><code>1. Первый пункт нумерованного списка
2. Второй пункт
⋅⋅*Ненумерованный вложенный список.
1. Сами числа не имеют значения, лишь бы это были цифры
⋅⋅1. Нумерованный вложенный список
4. И еще один пункт.

⋅⋅⋅Внутри пунктов списка можно вставить абзацы с таким же отступом. Обратите внимание на пустую строку выше и на пробелы в начале (нужен по меньшей мере один, но здесь мы добавили три, чтобы также выровнять необработанный Markdown).

⋅⋅⋅Чтобы вставить разрыв строки, но не начинать новый параграф, нужно добавить два пробела перед новой строкой.⋅⋅
⋅⋅⋅Этот текст начинается с новой строки, но находится в том же абзаце.⋅⋅
⋅⋅⋅(В некоторых обработчиках, например на Github, пробелы в начале новой строки не нужны.)

* Ненумерованный список можно размечать звездочками
- Или минусами
+ Или плюсами
        </code></pre>
        <ol>
          <li>Первый пункт нумерованного списка</li>
          <li>Второй пункт</li>
        </ol>
        <ul>
          <li>Ненумерованный вложенный список.</li>
        </ul>
        <ol>
          <li>
          <p>Сами числа не имеют значения, лишь бы это были цифры</p>
          </li>
          <li>
          <p>Нумерованный вложенный список</p>
          </li>
          <li>
          <p>И еще один пункт.</p>
          <p>Внутри пунктов списка можно вставить абзацы с таким же отступом. Обратите внимание на пустую строку выше и на пробелы в начале (нужен по меньшей мере один, но здесь мы добавили три, чтобы также выровнять необработанный Markdown).</p>
          <p>Чтобы вставить разрыв строки, но не начинать новый параграф, нужно добавить два пробела перед новой строкой.
          Эта текст начинается с новой строки, но находится в том же абзаце.
          (В некоторых обработчиках, например на Github, пробелы в начале новой строки не нужны.)</p>
          </li>
        </ol>
        <ul>
          <li>Ненумерованный список можно размечать звездочками</li>
        </ul>
        <ul>
          <li>Или минусами</li>
        </ul>
        <ul>
          <li>Или плюсами</li>
        </ul>
        <p><a name="user-content-links"></a></p><h2><a name="user-content-links">Ссылки</a></h2><p></p>
        <p>Ссылки можно размечать двумя способами.</p>
        <pre lang="no-highlight"><code>[Обычная ссылка в строке](https://www.google.com)

[Обычная ссылка с title](https://www.google.com "Сайт Google")

[Ссылка со сноской][Произвольный регистронезависимый текст]

[Относительная ссылка на документ](../blob/master/LICENSE)

[Для ссылок со сноской можно использовать цифры][1]

Или можно просто вставить ссылку в квадратные скобки [текст ссылки]

Произвольный текст, после которого можно указать сами ссылки. Произвольный текст, после которого можно указать сами ссылки. Произвольный текст, после которого можно указать сами ссылки.

[произвольный регистронезависимый текст]: https://www.mozilla.org
[1]: http://slashdot.org
[текст ссылки]: http://www.reddit.com
        </code></pre>
        <p><a href="https://www.google.com">Обычная ссылка в строке</a></p>
        <p><a href="https://www.google.com" title="Сайт Google">Обычная ссылка с title</a></p>
        <p><a href="https://www.mozilla.org">Ссылка со сноской</a> *</p>
        <p><a href="/sandino/Markdown-Cheatsheet/blob/blob/master/LICENSE">Относительная ссылка на документ</a></p>
        <p><a href="http://slashdot.org">Для ссылок со сноской можно использовать цифры</a></p>
        <p>Или можно просто вставить ссылку в квадратные скобки <a href="http://www.reddit.com">текст ссылки</a></p>
        <p>Произвольный текст, после которого можно указать сами ссылки. Произвольный текст, после которого можно указать сами ссылки. Произвольный текст, после которого можно указать сами ссылки.</p>
        <p>(*) Для символов не входящих в ASCII, например кириллицы, текст сноски все-таки регистрозависим (прим. перев.)</p>
        <p><a name="user-content-images"></a></p><h2><a name="user-content-images">Изображения</a></h2><p></p>
        <pre lang="no-highlight"><code>Вот наш логотип (наведите указатель, чтобы увидеть текст заголовка):

Код в строке: 
![alt-текст](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Текст заголовка логотипа 1")

Reference-style: 
![alt-текст][logo]

[logo]: https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Текст заголовка логотипа 2"
        </code></pre>
        <p>Вот наш логотип (наведите указатель, чтобы увидеть текст заголовка):</p>
        <p>Адрес в строке:
        <a href="https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png" target="_blank"><img src="https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png" alt="alt-текст" title="Текст заголовка логотипа 1" style="max-width:100%;"></a></p>
        <p>Адрес в ссылке:
        <a href="https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png" target="_blank"><img src="https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png" alt="alt-текст" title="Текст заголовка логотипа 2" style="max-width:100%;"></a></p>
        <p><a name="user-content-code"></a></p><h2><a name="user-content-code">Код и подсветка синтаксиса</a></h2><p></p>
        <p>Блоки кода являются частью функций Markdown, но не подсветка синтаксиса. Однако многие обработчики, например Github или <em>Markdown Here</em>, поддерживают подсветку синтаксиса. Список поддерживаемых языков и способ их указания может различаться. <em>Markdown Here</em> поддерживает десятки языков (и не-языков, например синтаксис diff и заголовки HTTP); полный список и способ указания языков см. на странице <a href="http://softwaremaniacs.org/media/soft/highlight/test.html">highlight.js demo-странице</a>.</p>
        <pre lang="no-highlight"><code>`Код` в строке обрамляется `обратными апострофами`.
        </code></pre>
        <p><code>Код</code> в строке обрамляется <code>обратными апострофами</code>.</p>
        <p>Блоки кода выделяются либо тремя обратными апострофами <code>```</code> либо четырьмя пробелами в каждой строке. Рекомендуется использовать три апострофа -- они проще и только они поддерживают подсветку синтаксиса.</p>
        <pre lang="no-highlight"><code>```javascript
var s = "Подсветка JavaScript";
alert(s);
```

```python
s = "Подсветка Python"
print s
```

```
Язык не указан, синтаксис не подсвечен.
Но мы вставим в него &lt;b&gt;тег&lt;/b&gt;.
```
        </code></pre>
        <div class="highlight highlight-source-js"><pre><span class="pl-k">var</span> s <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span>Подсветка JavaScript<span class="pl-pds">"</span></span>;
<span class="pl-en">alert</span>(s);</pre></div>
          <div class="highlight highlight-source-python"><pre>s <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span>Подсветка Python<span class="pl-pds">"</span></span>
<span class="pl-c1">print</span> s</pre></div>
            <pre><code>Язык не указан, синтаксис не подсвечен (некоторые обработчики все же подсвечивают).
Но мы вставим в него &lt;b&gt;тег&lt;/b&gt;.
            </code></pre>
            <p><a name="user-content-tables"></a></p><h2><a name="user-content-tables">Таблицы</a></h2><p></p>
            <p>Таблицы не являются частью Markdown, но многие обработчики, например <em>Markdown Here</em> и Github, поддерживают их. Они позволяют легко добавить таблицы в электронное письмо -- в других случаях для этого нужно копировать их из другого приложения.</p>
            <pre lang="no-highlight"><code>Вертикальные линии обозначают столбцы.

| Таблицы       | Это                | Круто |
| ------------- |:------------------:| -----:|
| столбец 3     | выровнен вправо    | $1600 |
| столбец 2     | выровнен по центру |   $12 |
| зебра-строки  | прикольные         |    $1 |

Внешние вертикальные линии (|) не обязательны, и они нужны только чтобы сам код Markdown выглядел красиво. Тот же код можно записать так:

Markdown | не такой | красивый
--- | --- | ---
*Но выводится* | `так же` | **клево**
1 | 2 | 3
            </code></pre>
            <p>Вертикальные линии обозначают столбцы.</p>
            <table>
              <thead>
                <tr>
                  <th>Таблицы</th>
                  <th align="center">Это</th>
                  <th align="right">Круто</th>
                </tr>
              </thead>
              <tbody>
              <tr>
                <td>столбец 3</td>
                <td align="center">выровнен вправо</td>
                <td align="right">$1600</td>
              </tr>
              <tr>
                <td>столбец 2</td>
                <td align="center">выровнен по центру</td>
                <td align="right">$12</td>
              </tr>
              <tr>
                <td>зебра-строки</td>
                <td align="center">прикольные</td>
                <td align="right">$1</td>
            </tr></tbody></table>
            <p>Внешние вертикальные линии (|) не обязательны, и они нужны только чтобы сам код Markdown выглядел красиво. Тот же код можно записать так:</p>
            <table>
              <thead>
                <tr>
                  <th>Markdown</th>
                  <th>не такой</th>
                  <th>красивый</th>
                </tr>
              </thead>
              <tbody>
              <tr>
                <td><em>Но выводится</em></td>
                <td><code>так же</code></td>
                <td><strong>клево</strong></td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr></tbody></table>
            <p><a name="user-content-blockquotes"></a></p><h2><a name="user-content-blockquotes">Цитаты</a></h2><p></p>
            <pre lang="no-highlight"><code>&gt; С помощью цитат очень удобно в письме обозначать исходный текст.
&gt; Эта строка - часть той же цитаты.

Разрыв цитаты.

&gt; Это очень длинная строка, но она будет правильно процитирована даже при размещении на нескольких строках. Продолжаем писать, чтобы эта строка не вмещалась на одной строке в любом окне. Кстати, в цитаты можно *вставлять* даже **Markdown**.
            </code></pre>
            <blockquote>
              <p>С помощью цитат очень удобно в письме обозначать исходный текст.
              Эта строка - часть той же цитаты.</p>
            </blockquote>
            <p>Разрыв цитаты.</p>
            <blockquote>
              <p>Это очень длинная строка, но она будет правильно процитирована даже при размещении на нескольких строках. Продолжаем писать, чтобы эта строка не вмещалась на одной строке в любом окне. Кстати, в цитаты можно также <em>размечать</em> с помощью <strong>Markdown</strong>.</p>
            </blockquote>
            <p><a name="user-content-html"></a></p><h2><a name="user-content-html">Встроенный HTML</a></h2><p></p>
            <p>Часто Markdown понимает чистый HTML.</p>
            <pre lang="no-highlight"><code>&lt;dl&gt;
  &lt;dt&gt;Список определений&lt;/dt&gt;
  &lt;dd&gt;Это то, что люди иногда используют.&lt;/dd&gt;

  &lt;dt&gt;Markdown внутри HTML&lt;/dt&gt;
  &lt;dd&gt;Работает *не очень** хорошо. Используйте HTML-&lt;em&gt;теги&lt;/em&gt;.&lt;/dd&gt;
&lt;/dl&gt;
            </code></pre>
            <dl>
              <dt>Список определений</dt>
              <dd>Это то, что люди иногда используют.</dd>
              <dt>Markdown внутри HTML</dt>
              <dd>Работает *не очень** хорошо. Используйте HTML-<em>теги</em>.</dd>
            </dl>
            <p><a name="user-content-hr"></a></p><h2><a name="user-content-hr">Горизонтальные линии</a></h2><p></p>
            <pre><code>Три и более...

---

Дефисы

***

Звездочки

___

Подчеркивания
            </code></pre>
            <p>Три и более...</p>
            <hr>
            <p>Дефисы</p>
            <hr>
            <p>Звездочки</p>
            <hr>
            <p>Подчеркивания</p>
            <p><a name="user-content-lines"></a></p><h2><a name="user-content-lines">Новая строка</a></h2><p></p>
            <p>Для понимания работы разрыва строка автор главным образом рекомендует экспериментировать и пробовать -- нажмите &lt;Enter&gt; один раз (т.е. перейдите на новую строку), потом нажмите дважды (т.е. вставьте две новые строки) и посмотрите что приозошло. Вы сразу поймете что вам нужно. В расширении <a href="https://github.com/adam-p/markdown-here">Markdown Here</a> для браузеров есть удобная функция "Markdown Toggle", которая поможет в этом.</p>
            <p><em>Примечание переводчика:</em><br>
            <em>Для переноса на новую строку в конце предыдущей строки необходимо добавить</em> <strong>два пробела</strong>. <em>Без этого большинство парсеров Markdown не выполняют переход на новую строку.</em></p>
            <p>Попробуйте ввести следующее:</p>
            <pre><code>Это начальная строка

Эта строка отделена от предыдущей двумя новыми строками и станет *отдельным абзацем*.

Это тоже отдельный абзац, но...⋅⋅
Эта строка отделена одной новой строкой, поэтому она находится в *том же абзаце*.
            </code></pre>
            <p>Это начальная строка</p>
            <p>Эта строка отделена от предыдущей двумя новыми строками и станет <em>отдельным абзацем</em>.</p>
            <p>Это тоже отдельный абзац, но...<code>[здесь два пробела]</code><br>
            Эта строка отделена одной новой строкой, поэтому она находится в <em>том же абзаце</em>.</p>
            <p>(Примечание: В <a href="https://github.com/adam-p/markdown-here">Markdown Here</a> разрывы строк ведут себя так же, как в <a href="https://help.github.com/articles/github-flavored-markdown">GFM</a>, поэтому не нужно вставлять по две новые строки.)</p>
            <p><a name="user-content-videos"></a></p><h2><a name="user-content-videos">Видео Youtube</a></h2><p></p>
            <p>Ролики нельзя вставить напрямую, но можно вставить изображение со ссылкой на видео, например:</p>
            <pre lang="no-highlight"><code>&lt;a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=ID_ВИДЕОРОЛИКА_НА_YOUTUBE" target="_blank"&gt;&lt;img src="http://img.youtube.com/vi/ID_ВИДЕОРОЛИКА_НА_YOUTUBE/0.jpg" 
alt="ALT-ТЕКСТ ИЗОБРАЖЕНИЯ" width="240" height="180" border="10" /&gt;&lt;/a&gt;
            </code></pre>
            <p>На чистом Markdown, но без размеров изображения и рамки:</p>
            <pre lang="no-highlight"><code>[![ALT-ТЕКСТ ИЗОБРАЖЕНИЯ](http://img.youtube.com/vi/ID_ВИДЕОРОЛИКА_НА_YOUTUBE/0.jpg)](http://www.youtube.com/watch?v=ID_ВИДЕОРОЛИКА_НА_YOUTUBE)
            </code></pre>
