<div id="markdown-modal-window" class="modal-box hide">
  <div class="modal">
    <span class="close"></span>
    <div class="modal-header"><%= markdown_hint %></div>
    <div class="modal-body">
      <%= markdown_partial %>
    </div>
  </div>
</div>
