<span class="desc">&nbsp;</span>

<div class="buffer-top">
  <h4><%= @project.title %></h4>

  <ul class="unstyled sidebar-pages" data-role="activerecord_sortable">
    <%= render @project.pages %>
  </ul>

  <p><%= link_to fa_icon('plus', text: t('views.sidebar.new_page')), new_private_project_page_path(@project), id: 'new_page' %></p>
  <% if current_user_owns_project? %>
    <p><%= link_to fa_icon('pencil', text: t('views.sidebar.edit_project')),
      edit_private_project_path(@project), class: 'small' %></p>
  <% end %>
</div>

<script>
  $(document).on('turbolinks:load', function () {
    hotkeys.activate('private_project_page');
  });
</script>
