<%= link_to public_project_page_url(@project, @page), title: t('.public_hint'), class: 'small text-muted' do %>
  <%= public_project_page_url(@project, @page) %>
<% end %>

<div class="mt-5">
  <%= @page.html.html_safe %>
</div>

<% content_for :sidebar do %>
  <%= render partial: 'sidebar' %>
<% end %>
