@import 'lato-font';

@import 'bootstrap-custom';
@import 'bootstrap';

@import 'font-awesome';

@import 'header-link';

@import 'highlight';
@import 'toast';
@import 'flag-icon.min';

.cursor-hand {
  cursor: pointer;
}

.page-content {
  blockquote {
    border-left: 5px solid $gray-400;
    color: $secondary;
    padding-left: 10px;

    ol:first-child, ul:first-child {
      padding-left: 1rem;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @extend .mt-4;
    @extend .mb-3;

    &:first-child {
      @extend .mt-0;
    }
  }

  word-wrap: break-word;

  table {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;

    th {
      font-weight: bold;
      padding: 5px;
      background: $gray-400;
      border: 1px solid $gray-100;
    }

    td {
      padding: 5px 10px;
      border: 1px solid $gray-200;
      text-align: left;
    }

    tbody tr:nth-child(odd){
      background: white;
    }

    tbody tr:nth-child(even){
      background: $gray-100;
    }
  }
}

pre {
  border-radius: 8px;
}

table.table {
  border-collapse: collapse;
  border-style: hidden;
}

/* fix toast and cube buttons conflict */
.tui-editor-defaultUI .te-mode-switch-section,
.tui-editor-defaultUI .te-mode-switch {
  box-sizing: content-box;
  height: 20px !important;
  line-height: 18px;;
}

.tui-editor-defaultUI .te-markdown-tab-section button {
  height: 32px;
}

.page-content img {
  @extend .img-fluid;
}
/* end */
