@import 'lato-font';

@import 'bootstrap-custom';
@import 'bootstrap';

@import 'font-awesome';

@import 'header-link';

@import 'highlight';
@import 'toast';
@import 'flag-icon.min';

@import 'threaded-items';

.cursor-hand {
  cursor: pointer;
}

.page-content {
  blockquote {
    border-left: 5px solid $gray-400;
    color: $secondary;
    padding-left: 10px;

    ol:first-child, ul:first-child {
      padding-left: 1rem;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @extend .mt-4;
    @extend .mb-3;

    &:first-child {
      @extend .mt-0;
    }
  }

  word-wrap: break-word;
}

pre {
  border-radius: 8px;
}

table.table {
  border-collapse: collapse;
  border-style: hidden;
}

