@import 'lato-font';

@import 'bootstrap-custom';
@import 'bootstrap';

@import 'font-awesome';

@import 'highlight';
@import 'toast';
@import 'flag-icon.min';

table.table {
  border-collapse: collapse;
  border-style: hidden;
}

pre {
  border-radius: 8px;
}

blockquote {
  border-left: 5px solid #eee;
  color: $secondary;
  padding-left: 10px;
}

/* fix toast and cube buttons conflict */
.tui-editor-defaultUI .te-mode-switch-section,
.tui-editor-defaultUI .te-mode-switch {
  box-sizing: content-box;
  height: 20px !important;
  line-height: 18px;;
}

.tui-editor-defaultUI .te-markdown-tab-section button {
  height: 32px;
}
/* end */
