/* Customize the label (the container) */
.galochka label {
  display: block;
  position: relative;
  padding-left: 29px;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default checkbox */
.galochka label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.v {
  position: absolute;
  top: 1px;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.galochka label:hover input ~ .v {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.galochka label input:checked ~ .v {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.v:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.galochka label input:checked ~ .v:after {
  display: block;
}

/* Style the checkmark/indicator */
.galochka label .v:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
