h1, h2, h3, h4, h5, h6 {
  &:hover .header-link {
    opacity: 1;
  }
}

.header-link {
    color: $gray-500;
    font-size: 80%;
    left: -0.3em;
    opacity: 0;
    padding-top: .2em;
    position: absolute;
    transition: opacity 0.2s ease-in-out 0.1s;
    -webkit-transition: opacity 0.2s ease-in-out 0.1s;

&:hover {
     color: $gray-700;
 }
}
