<% content_for(:title) { "Требуется войти" } %>

<p>Вы пытаетесь просмотреть страницу проекта «<%= @project.title %>».</p>

<p>Администратор проекта разрешил просмотр только участникам проекта.</p>

<p>Если вы участник проекта, то, пожалуйста, перейдите по указанной ссылке и войдите с помощью своего email:</p>

<p><%= link_to @sign_in_link, @sign_in_link %></p>
